.about-cat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: $oswald;
  color: $special-text;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.about-cat__info {
  padding-bottom: 24px;
}

.about-cat__item {
  display: flex;
  margin-bottom: 13px;
  align-items: center;
}

.about-cat__item label {
  margin-right: 12px;
  flex-shrink: 0;
}

.about-cat__item input {
  height: 46px;
  font-family: $oswald;
  color: $special-text;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid $input-border;
  padding-left: 16px;
  width: 100%;
}

.about-cat__intention {
  padding: 22px 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid $dividing-content;
  border-bottom: 1px solid $dividing-content;
}
