.contacts__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 26px;
  background-color: $basic-grey;
}

.contacts__wrapper--index {
  background-color: $page-bg;
}

.contacts__title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-width: 140px;
}

.contacts__adress {
  line-height: 20px;
  font-style: normal;
  color: $special-text;
  min-width: 140px;
}

.contacts__street {
  margin: 0;
}

.contacts__map {
  background-image: url("../../img/map/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 362px;
}

.contacts__google-map {
  width: 100%;
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 62px 72px 51px 71px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 21px;
  }

  .contacts__street {
    margin-top: 6px;
    margin-bottom: 21px;
    text-align: right;
    font-size: 16px;
  }

  .contacts__adress {
    text-align: right;
    font-size: 16px;
  }

  .contacts__map {
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    max-width: 570px;
    max-height: 201px;
    margin-left: 110px;
    margin-top: 95px;
  }

  .contacts__title {
    margin-right: 87px;
  }

  .contacts__street {
    text-align-last: left;
  }

  .contacts__adress {
    text-align-last: left;
  }
}
