.example {
  background-color: $extra-bg;
}

.example__wrapper {
  padding: 27px 20px 34px;
  margin-top: 42px;
}

.example__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__history {
  color: $special-text;
  margin-top: 33px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $page-bg;
  }

  .example__wrapper {
    margin-top: 0;
    padding: 43px 30px 0;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__history {
    margin-top: 63px;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    padding-left: 110px;
    padding-right: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .example__title {
    grid-column: 1 / 2;
  }

  .example__history {
    grid-column: 1 / 2;
    padding-right: 175px;
  }
}
