.form-coments {
  textarea {
    width: 100%;
    height: 150px;
    border: 1px solid $input-border;
    text-transform: uppercase;
    font-family: $oswald;
    margin-top: 37px;
    margin-bottom: 22px;
    resize: none;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}
