.programs__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 24px;
}

.programs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.programs-list__item {
  background-color: $basic-grey;
  margin-bottom: 20px;
  padding-top: 29px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.programs-list__item:last-child {
  margin-bottom: 0;
}

.programs-list__title {
  margin: 0 0 28px 73px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  position: relative;
}

.programs-list__item:first-child .programs-list__title::before {
  content: "";
  position: absolute;
  background-image: url("../img/programs/cat_back.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  top: -9px;
  left: -70px;
}

.programs-list__item:last-child .programs-list__title::before {
  content: "";
  position: absolute;
  background-image: url("../img/programs/cat_back_pro.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  top: -8px;
  left: -80px;
}

.programs-list__description {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 23px;
  color: $special-text;
  border-bottom: 1px solid $dividing-content;
}

.programs-list__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-text;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  position: relative;
}

.programs-list__link::after {
  content: "";
  position: absolute;
  background-image: url("../../img/programs/arrow-icon.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
  top: 5px;
  right: -41px;
}

@media (min-width: $tablet-width) {
  .programs__wrapper {
    padding: 0 30px;
  }

  .programs-list__item {
    padding: 77px 0 57px 52px;
    margin-bottom: 30px;
  }

  .programs-list__title {
    margin-bottom: 24px;
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .programs-list__description {
    margin-bottom: 52px;
    padding-bottom: 0;
    border-bottom: none;
    color: $basic-text;
    font-size: 16px;
    line-height: 24px;
  }

  .programs-list__link {
    font-size: 20px;
    line-height: 30px;
  }

  .programs-list__item:first-child .programs-list__title::before {
    width: 200px;
    height: 211px;
    background-image: url("../img/programs/cat_back_tablet.svg");
    top: 4px;
    left: 394px;
  }

  .programs-list__item:first-child .programs-list__description {
    width: 377px;
  }

  .programs-list__item:last-child .programs-list__title::before {
    width: 268px;
    height: 200px;
    background-image: url("../img/programs/cat_back_pro_tablet.svg");
    top: 14px;
    left: 359px;
  }

  .programs-list__item:last-child .programs-list__description {
    width: 342px;
  }

  .programs-list__link::after {
    top: 9px;
    right: -48px;
  }
}

@media (min-width: $desktop-width) {
  .programs__wrapper {
    margin-top: 82px;
    padding: 0 110px;
  }

  .programs-list {
    flex-direction: row;
  }

  .programs-list__item {
    padding: 0;
    min-width: 570px;
    min-height: 374px;
    margin-bottom: 0;
    margin-right: 80px;
  }

  .programs-list__item:last-child {
    margin-right: 0;
  }
}
