.result-list__item {
  border: 1px solid $special-grey;
  border-radius: 3px;
  text-align: center;
  width: 124px;
  position: relative;
  padding-bottom: 16px;
  padding-top: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.result-list__key {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  text-transform: lowercase;
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: $extra-bg;
  color: $special-text;
  bottom: -16px;
  left: 15%;
  padding: 0 15px;
}

@media (min-width: $tablet-width) {
  .result-list__item {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
    margin-right: 42px;
  }

  .result-list__item:last-child {
    margin-right: 0;
  }

  .result-list__key br {
    display: none;
  }

  .result-list__key {
    background-color: $page-bg;
    font-size: 14px;
    line-height: 14px;
    left: 10%;
    bottom: -6px;
  }

  .result-list__item:last-child .result-list__key {
    padding: 0 7px;
    left: 7%;
    bottom: -7px;
  }
}
