.result-list__item {
  border: 1px solid $special-grey;
  border-radius: 3px;
  text-align: center;
  width: 124px;
  position: relative;
  padding-bottom: 16px;
  padding-top: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.result-list__key {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  text-transform: lowercase;
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: $extra-bg;
  color: $special-text;
  bottom: -16px;
  left: 15%;
  padding: 0 15px;
}
