.work-list__item {
  margin-bottom: 20px;
  display: flex;
}

.work-list__item::before {
  content: "";
  flex-shrink: 0;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/work/work-1.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.work-list__item:nth-child(2)::before {
  content: "";
  flex-shrink: 0;
  margin-right: 20px;
  background-color: #68b738;
  background-image: url("../img/work/work-2.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.work-list__item:nth-child(3)::before {
  content: "";
  flex-shrink: 0;
  margin-right: 20px;
  background-color: #68b738;
  background-image: url("../img/work/work-3.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.work-list__item:last-child {
  margin-bottom: 0;
}

.work-list__item:last-child::before {
  content: "";
  flex-shrink: 0;
  margin-right: 20px;
  background-color: #68b738;
  background-image: url("../img/work/work-4.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.work-list__text {
  margin: 0;
  color: $special-text;
  font-family: "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .work-list__item {
    flex-direction: column;
    position: relative;
    margin-bottom: 0;
  }

  .work-list__item::after {
    counter-increment: number;
    content: counter(number);
    font-family: $oswald;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: $basic-grey;
    z-index: -1;
    position: absolute;
    top: -39px;
    left: 113px;

  }

  .work-list__text {
    margin-top: 31px;
    font-size: 16px;
    line-height: 24px;
  }

  .work-list__item::before {
    width: 80px;
    height: 80px;
  }
}
