$oswald: "Oswald", "Arial", sans-serif;
$page-bg: #ffffff;
$extra-bg: #eaeaea;
$basic-text: #000000;
$special-text: #444444;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$extra-grey: #666666;
$basic-green: #68b738;
$special-green: #5eaa2f;
$dividing-content: #d9d9d9;
$dividing-mobile: #e6e6e6;

